embedding_model:
  provider: "google"
  model_name: "models/gemini-embedding-001"

retriver:
  top_k: 10
  search_type: "mmr"
  fetch_k: 20
  lambda_mult: 0.5


llm:
  google:
    provider: "google"
    model_name: "gemini-2.5-flash"
    temperature: 0
    max_output_tokens: 2048

